{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ RCA Admin }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">
  <img src="{% static "assets/images/IBM-security.png" %}" alt="logo" />
</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
