{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}RCA Admin {% endblock %}
<link rel="shortcut icon" type="image/png" href="https://exchange.xforce.ibmcloud.com/images/shortcut-icons/ms-icon-144x144.png">
{% block extrastyle %}
<style>
#header {
  background: #276d96 !important;
}
#branding{
  margin-top: -20px;
}
#header img{
  width: 50%;
  height: 40%;
}
}

</style>
{% endblock %}
{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="https://www.starlinkme.net/images/vendor/33/logo/IBM-security.png" />
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
