{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block container %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">My Account</li>
</ol>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
          <a href="#" class="list-group-item active">My Account</a>
          <a href="{% url 'accounts:update_user' %}" class="list-group-item">Update User</a>
          <a href="{% url 'accounts:update_password' %}" class="list-group-item">Update Password</a>
        </div>
    </div>
    <div class="col-md-8">
        {% block accounts_container %}
            <h2>Welcome {{ user }}</h2>
        {% endblock %}
    </div>
</div>
{% endblock %}
