<tr>
  <td>{{logs.category}}</td>
  <td>{{logs.ucnum}}</td>
  <td>{{logs.ucdescription}}</td>
  <td>{{logs.logsourcetype }}</td>
  <td>{{logs.rulename}}</td>
  <td>{{logs.operator_one}}</td>
  <td>{{logs.operator_two}}</td>
  <td>{{logs.operator_three}}</td>
  <td>{{logs.operator_four}}</td>
  <td>{{logs.operator_five}}</td>
  <td>{{logs.operator_six}}</td>
  <td>{{logs.operator_seven}}</td>
  <td>{{logs.operator_eight}}</td>
  <td>{{logs.parameter_one}}</td>
  <td>{{logs.parameter_two}}</td>
  <td>{{logs.parameter_three}}</td>
  <td>{{logs.parameter_four}}</td>
  <td>{{logs.parameter_five}}</td>
  <td>{{logs.parameter_six}}</td>
  <td>{{logs.parameter_seven}}</td>
  <td>{{logs.parameter_eight}}</td>
  <td>{{logs.rt_one}}</td>
  <td>{{logs.rt_two}}</td>
  <td>{{logs.rt_three}}</td>
  <td>{{logs.rt_four}}</td>
  <td>{{logs.rt_five}}</td>
  <td>{{logs.rt_six}}</td>
  <td>{{logs.rt_seven}}</td>
  <td>{{logs.rt_eight}}</td>
  <td>{{logs.regex_one}}</td>
  <td>{{logs.regex_two}}</td>
  <td>{{logs.regex_three}}</td>
  <td>{{logs.regex_four}}</td>
  <td>{{logs.regex_five}}</td>
  <td>{{logs.regex_six}}</td>
  <td>{{logs.regex_seven}}</td>
  <td>{{logs.regex_eight}}</td>
  <td>{{logs.engineer}}</td>
</tr>
