{% extends "base.html" %}

{% block title %}
    List of Logsources | {{ block.super }}
{% endblock %}

{% block container %}
<table id="logsource" class="display" style="width:100%">
      <thead>
          <tr>
              <th>Category</th>
              <th>UC#</th>
              <th>Description</th>
              <th>Type</th>
              <th>RuleName</th>
              <th>OperatorOne</th>
              <th>OperatorTwo</th>
              <th>OperatorThree</th>
              <th>OperatorFour</th>
              <th>OperatorFive</th>
              <th>OperatorSix</th>
              <th>OperatorSeven</th>
              <th>OperatorEight</th>
              <th>ParameterOne</th>
              <th>ParameterTwo</th>
              <th>ParameterThree</th>
              <th>ParameterFour</th>
              <th>ParameterFive</th>
              <th>ParameterSix</th>
              <th>ParameterSeven</th>
              <th>ParameterEight</th>
              <th>RTOne</th>
              <th>RTTwo</th>
              <th>RTThree</th>
              <th>RTFour</th>
              <th>RTFive</th>
              <th>RTSix</th>
              <th>RTSeven</th>
              <th>RTEight</th>
              <th>RegexOne</th>
              <th>RegexTwo</th>
              <th>RegexThree</th>
              <th>RegexFour</th>
              <th>RegexFive</th>
              <th>RegexSix</th>
              <th>RegexSeven</th>
              <th>RegexEight</th>
              <th>Engineer</th>
          </tr>
      </thead>
      <tbody>
            {% for logs in log_list %}
            {% include "logsource/_logsource.html" %}
            {% endfor %}
      </tbody>
      <tfoot>
          <tr>
            <th>Category</th>
            <th>UC#</th>
            <th>Description</th>
            <th>Type</th>
            <th>OperatorOne</th>
            <th>OperatorTwo</th>
            <th>OperatorThree</th>
            <th>OperatorFour</th>
            <th>OperatorFive</th>
            <th>OperatorSix</th>
            <th>OperatorSeven</th>
            <th>OperatorEight</th>
            <th>ParameterOne</th>
            <th>ParameterTwo</th>
            <th>ParameterThree</th>
            <th>ParameterFour</th>
            <th>ParameterFive</th>
            <th>ParameterSix</th>
            <th>ParameterSeven</th>
            <th>ParameterEight</th>
            <th>RegexOne</th>
            <th>RegexTwo</th>
            <th>RegexThree</th>
            <th>RegexFour</th>
            <th>RegexFive</th>
            <th>RegexSix</th>
            <th>RegexSeven</th>
            <th>RegexEight</th>
            <th>Engineer</th>
          </tr>
      </tfoot>
  </table>
</div>
</div>
<div class="modal fade" id="DescModal" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
             <h3 class="modal-title">Results</h3>

        </div>
        <div class="modal-body">
          <div class="form-group">
             <div class="form-group">
               <div class="form-group">
                 <label for="details">Details</label>
                 <textarea class="form-control" rows="5" id="details"></textarea>
               </div>
             </div>
             <div class="form-group">
               <label for="rulename">Rule Name</label>
               <input type="text" class="form-control" id="rulename">
             </div>
             <div class="form-group">
               <label for="parameter_one">Parameter 1</label>
               <input type="text" class="form-control" id="parameter_one">
             </div>
             <div class="form-group">
               <label for="parameter_two">Parameter 2</label>
               <input type="text" class="form-control" id="parameter_two">
             </div>
             <div class="form-group">
               <label for="parameter_three">Parameter 3</label>
               <input type="text" class="form-control" id="parameter_three">
             </div>
             <div class="form-group">
               <label for="parameter_three">Parameter 4</label>
               <input type="text" class="form-control" id="parameter_four">
             </div>
             <div class="form-group">
               <label for="parameter_three">Parameter 5</label>
               <input type="text" class="form-control" id="parameter_five">
             </div>
             <div class="form-group">
               <label for="parameter_three">Parameter 6</label>
               <input type="text" class="form-control" id="parameter_six">
             </div>
             <div class="form-group">
               <label for="parameter_three">Parameter 7</label>
               <input type="text" class="form-control" id="parameter_seven">
             </div>
             <div class="form-group">
               <label for="parameter_three">Parameter 8</label>
               <input type="text" class="form-control" id="parameter_eight">
             </div>
             <div class="form-group">
               <label for="regex_one">Regex 1</label>
               <input type="text" class="form-control" id="regex_one">
             </div>
             <div class="form-group">
               <label for="regex_two">Regex 2</label>
               <input type="text" class="form-control" id="regex_two">
             </div>
             <div class="form-group">
               <label for="regex_three">Regex 3</label>
               <input type="text" class="form-control" id="regex_three">
             </div>
             <div class="form-group">
               <label for="regex_four">Regex 4</label>
               <input type="text" class="form-control" id="regex_four">
             </div>
             <div class="form-group">
               <label for="regex_five">Regex 5</label>
               <input type="text" class="form-control" id="regex_five">
             </div>
             <div class="form-group">
               <label for="regex_six">Regex 6</label>
               <input type="text" class="form-control" id="regex_six">
             </div>
             <div class="form-group">
               <label for="regex_seven">Regex 7</label>
               <input type="text" class="form-control" id="regex_seven">
             </div>
             <div class="form-group">
               <label for="regex_eight">Regex 8</label>
               <input type="text" class="form-control" id="regex_eight">
             </div>
             <div class="form-group">
               <label for="engineer">Engineer</label>
               <input type="text" class="form-control" id="engineer">
             </div>
           </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="btnclose" data-dismiss="modal">Close</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
{% endblock %}
