<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}RCA{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" type="image/png" href="https://exchange.xforce.ibmcloud.com/images/shortcut-icons/security-shield-social-201x200.png" />
	<link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}" media="screen" />
	<link rel="stylesheet" href="{% static 'assets/jquery.dataTables.min.css' %}" media="screen" />
	<link rel="stylesheet" href="{% static 'assets/custom.min.css' %}" media="screen" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'index' %}" class="navbar-brand"><img class="img-responsive" src="{% static 'assets/images/logo.png' %}" alt="RCA" id="logo"></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          </ul>
					<ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
			{% if user.is_superuser %}
			<li><a href="{% url 'admin:index' %}">Admin</a><li>
			{% endif %}
			<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
			<li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
        </div>
      </div>
    </div>
    <div class="container">
		{% block container %}{% endblock %}
		<footer>
			<div class="row">
			  <div class="col-lg-12">
			    <ul class="list-unstyled">
			      <li class="pull-right"><a href="#top">Top</a></li>
			    </ul>
			  </div>
			</div>
		</footer>
	</div>
	<script src="{% static 'assets/jquery.js' %}"></script>
  <script src="{% static 'assets/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/main.js' %}"></script>
</body>
</html>
