{% extends "base.html" %}

{% block title %}
    Contact | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>Message</h1>
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
              <label for="id_name" class="col-md-3 control-label">Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="id_name" placeholder="Nome" />
              </div>
            </div>
            <div class="form-group">
              <label for="id_email" class="col-md-3 control-label">E-mail</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="id_email" placeholder="E-mail" />
              </div>
            </div>
            <div class="form-group has-error">
              <label for="id_message" class="col-md-3 control-label">Message</label>
              <div class="col-md-9">
                <textarea class="form-control" rows="3" id="id_message"></textarea>
                <span class="help-block">Message is required</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
