{% extends "base.html" %}

{% block container %}

<div class="row justify-content-md-center">
  <div style="width:50%;height:100px;"></div>
  <div class="col-sm-8 col-lg-12">
    {% if user.is_authenticated %}
    <div class="jumbotron">
      <h1 class="display-4">Hello, Engineer!</h1>
      <p class="lead">Welcome to RCA</p>
      <hr class="my-4">
      <p>Please click on button to start search.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'logsource:logsource_list' %}" role="button">Begin</a>
      </p>
    </div>
    </div>
    {% else %}
    <div style="width:50%;height:240px;"></div>
    {% endif %}
</div>

{% endblock %}
