{% extends "base.html" %}

{% block title %}
    Losources | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>Losource</h1>
</div>
<div class="row">
  <div class="col-sm-4">
      <a href="#" class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" />
      </a>
  </div>
  <div class="col-sm-8">
      <dl>
        <dt>Lorem ipsum:</dt>
        <dd>Lorem ipsum dolor sit amet</dd>
        <dt>Lorem ipsum:</dt>
        <dd>Lorem ipsum dolor sit amet</dd>
        <dt>Lorem ipsum:</dt>
        <dd>Lorem ipsum dolor sit amet</dd>
        <dt>Lorem ipsum:</dt>
        <dd>Lorem ipsum dolor sit amet</dd>
        <dt>Lorem ipsum:</dt>
        <dd>Lorem ipsum dolor sit amet</dd>
      </dl>
  </div>
</div>
{% endblock %}
