{% extends "base.html" %}

{% block title %}
    Logsource list | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>Logsources</h1>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="#">
                <img src="http://placehold.it/350x250" alt="" />
            </a>
            <div class="caption">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><a href="#" class="btn btn-success" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="#">
                <img src="http://placehold.it/350x250" alt="" />
            </a>
            <div class="caption">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><a href="#" class="btn btn-success" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="#">
                <img src="http://placehold.it/350x250" alt="" />
            </a>
            <div class="caption">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><a href="#" class="btn btn-success" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
